<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Basic HTML</title>

  <!-- <script type="text/javascript" src="../static/js/highchart.js"></script> -->
  <script type="text/javascript" src="../static/js/viz1.js"></script>

</head>

<body>
    <h1>Tryin' to figure it out...</h1>
    <!-- The div that holds our US High Chart Map-->
    <div id="container" style="height: 520px; width: 800px; margin: 0 auto; text-align:center; line-height: 520px">
      Downloading map...
    </div>

<!-- d3 --> 
<script src="https://d3js.org/d3.v5.min.js"></script>


<!-- Highcharts
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script> 
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script> -->

</body>
</html>